.article-describe {
  padding: 0;
  div, p, span {
    margin: 0;
    word-wrap:break-word;
    word-break:break-all;
  }
}

.complete-article {
  h2 {
    margin: 0;
  }
  //border: 1px solid #e8e8e8;
  //padding: 0.5em;
  //background: #fafafa;
  //border-radius: 3px;
  //box-shadow: rgb(180,180,180) 7px 7px 23px 3px;
}

.article-toc {
  border: 1px solid #f0f0f0;
  margin-bottom: 3em;
}