<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>chenmo`s blog - Brageast.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
<link th:href="@{/css/main.9e64e10d083e959bafbe.css}" rel="stylesheet"></head>
<body>
    <noscript>请打开浏览器JS功能,并刷新页面尝试访问</noscript>
    <div id="init" ></div>
<script type="text/javascript" th:src="@{js/main.9e64e10d083e959bafbe.js}"></script></body>
</html>